
.navbar-container{
    background-color: rgb(213, 233, 226);
    padding: 30px;
    margin-top: 30px;
   
}
.items-container{
    align-items: center;
    justify-content: center;
}
.items{
    text-decoration: none;
    color: black;
    font-weight: 600;
}